/* NAVBAR SECTION */
.top-banner {
    margin-bottom: 5%;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
}

.logo {
    height: 70px;
    margin-left: 5%;
}

.quotebook-icon {
    width: 60%;
    padding-top: 15px;
}

.navbar {
    max-width: 100%;
    margin-right: 5%;
    width: 15%;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}
/* END OF NAVBAR SECTION*/

/* About us Introduction Body */
body {
    max-width: 100%;
    margin-top: 0px;
}

.about-us-section {
    width: 50%;
    margin: auto;
}

.sub-headings {
    margin: auto;
    margin-bottom: 5%;
    width: 20%;
    text-align: center;
}

.introduction {
    margin: auto;
    margin-bottom: 5%;
    width: 70%;
    text-align: center;
}

/* Individual Profile Cards section */
.our-story-card {
    margin: auto;
    max-width: 55%;
    display: flex;
    justify-content: space-around;
}

.profile-cards {
    background-color: #4B6CB7;
}

.profile-info {
    width: 200px;
    text-align: center;
}

.headshot-img {
    border-radius: 100%;
    height: 200px;
}


/* Start of footer */
footer {
    /* background-color: #7798d9; */
    background: linear-gradient(10deg,#4B6CB7, #5F2C82);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #4b6cb7;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-media{
    display: flex;
    align-items: center;
    }

#github-logo{
    height: 50px;
}
#linkedin-logo{
    height: 65px;
}