 /* Top section */
.top-banner {
    display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    background-color: #eeeeee;
}


.logo {
    height: 70px;
    margin-left: 5%;
}

.Quotebook-Icon {
    width: 60%;
    padding-top: 15px;
}
/* I saw on figma that the 'Quotebook' logo was an image. 
Do you think that it's possible to import that so it shows up exactly as you had it on figma? */

.navbar{
    margin-right: 5%;
}



a { 
    text-decoration: none;
    padding-left: 10px;
}



/* Quote box section */
.main-quotebox{
    display: flex;
    justify-content: space-around;
    align-items: center;
     height: 500px;
     color: white;
}

.buttons{
    display: flex;
    flex-direction: column;
    
}

button  img {
    display: flex;
    justify-content: center;

width: 50px;
border-radius: 50%;


}

button img:hover {
    width: 50px;
    height: 50px;
    transition: transform .25s ease;
    transform: scale(1.25);
    /* transform: rotate(360deg); */
}
button{
    /* height: 50px;
    width: 50px;
    border-radius: 50%; */
    margin: 10px;
    background-color: white;
    
    /* color: #82c3f7; */
    padding: px;
    transition: width 1s, height 1s, transform 1s;
}

.quote-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    border-radius: 5%;
    background-image: linear-gradient(to right, #cfe2f3 , #748dc5 ) ;
    width: 50%;
    height: 95%;
    box-shadow: 10px 10px 5px gray;
}

.quote-author {
    display: flex;
    justify-content: end;
}


.card-buttons {
    display: flex;
}





/* Footer section */
/* Need to remember how to make it snap to the bottom of the page.... i forgot. */
/* I'm still trying to figure out the snap part. I added absolute positioning but i dont think thats helping */
footer {
    background-color: #7798d9;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    /* justify-content: center; */
    align-items: center;
    color: #4b6cb7;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* .social-media{
display: flex;
align-items: center;
} */



#github-logo{
    height: 50px;
}
#linkedin-logo{
    height: 65px;
}

button {
    border: none;
}