 html {  
    background: url(files/pictures/Untitled_Artwork.heic) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
 }
/* Top section */
.top-banner {
    display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
}


.logo {
    height: 70px;
    margin-left: 5%;
}

.Quotebook-Icon {
    width: 60%;
    padding-top: 15px;
}

.navbar{
    margin-right: 5%;
}



a { 
    color: black;
    text-decoration: none;
    padding-left: 10px;
}



/* Quote box section */
.main-quotebox{
    display: flex;
    justify-content: space-around;
    align-items: center;
     color: white;
     height: auto;
     margin-top: 5%;
}

#quotation-mark1 {
    width: 100px;
    position: relative;
bottom: 70px;    
right: 50px;
transform: scaleX(-1);
}


.interact-buttons-section {
    display: flex;
    flex-direction: column;
}

.interact-buttons{
     border-radius: 50%;
     margin-top: 50%;
}


button  img {
    display: flex;
    justify-content: center;
    width: 60px;
}

.interact-buttons-section img:hover {
    transition: transform .25s ease;
    transform: scale(1.25);
    box-shadow: 10px 10px 5px black;
}

button:active{
    transform: scale(.95);
}

button{
    background: none;
    border: none;
    transition: width 1s, height 1s, transform 0s;
}

.quote-card {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    border-radius: 5%;
    background-image: linear-gradient(to right, #cfe2f3 , #748dc5 ) ;
    width: 40%;
    height: 500px;
    box-shadow: 10px 10px 5px black;
}


.quote-author {
    display: flex;
    justify-content: end;
}
.card-buttons img:hover {
    transition: transform .25s ease;
    transform: scale(1.25);


}
.quotation-mark2 {
    width: 100px;
    position: relative;
    top: 70px;    
    left: 95%;
}

.forward-button-section{
    display: flex;
    justify-content: center;
}
.forward-button-section img:hover {
    transition: transform .25s ease;
    transform: scale(1.25);
    box-shadow: 10px 10px 5px black;
}

 #forward-button{
    position: relative;
    top: 50px;
    background: none;
    border-radius: 50%; 
}
/* Footer section */
footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    color: black;
    position: relative;
    margin-top: 70px;
    bottom: 0;
    width: 100%;
}



